.body {
    background-color: lightblue;
    margin: 0px;   /* body has a default margin of 8px...need to redefine margin to zero to make it go away*/
}
.navbar{
    background-color: white;
    padding: 15px;
    text-align: right;
}
.nav-link {
    background-color: blue;
    color: white;
    padding: .5em; /* em is the width of an 'M'  rem is relative em */
    border-radius: 5px;
}